0x-contract-addresses==3.0.0
0x-contract-artifacts==3.0.0
0x-contract-wrappers==2.0.0
0x-json-schemas==2.1.0
0x-order-utils==4.0.1
aiohttp==3.8.0
aiosignal==1.2.0
anyio==3.3.4
appdirs==1.4.4
asgiref==3.4.1
astor==0.8.1
async-timeout==4.0.0
attrs==21.2.0
AutoMacDoc==0.3
Automat==20.2.0
backcall==0.2.0
base58==2.1.1
bitarray==1.2.2
black==21.10b0
CacheControl==0.12.10
certifi==2021.5.30
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
constantly==15.1.0
cytoolz==0.11.2
dataclasses-json==0.5.6
debugpy==1.5.1
decorator==5.1.0
Deprecated==1.2.13
Django==3.2.9
docutils==0.18
entrypoints==0.3
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
fastapi==0.70.0
Flask==2.0.2
frozenlist==1.2.0
ghp-import==2.0.2
h11==0.12.0
hexbytes==0.2.2
httptools==0.2.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
incremental==21.3.0
ipfshttpclient==0.8.0a2
ipykernel==6.5.0
ipython==7.29.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
jsonschema==3.2.0
jupyter-client==7.0.6
jupyter-core==4.9.1
lockfile==0.12.2
lru-dict==1.1.7
Markdown==3.3.4
MarkupSafe==2.0.1
marshmallow==3.14.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.3
mergedeep==1.3.4
mkdocs==1.2.3
mkdocs-material==7.3.6
mkdocs-material-extensions==1.0.3
msgpack==1.0.2
multiaddr==0.0.9
multidict==5.2.0
mypy-extensions==0.4.3
nest-asyncio==1.5.1
netaddr==0.8.0
nftlabs-sdk==0.2.1
packaging==21.2
parsimonious==0.8.1
parso==0.8.2
pathspec==0.9.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
prompt-toolkit==3.0.22
protobuf==3.19.1
pycryptodome==3.11.0
pydantic==1.8.2
pydoctor==21.9.2
Pygments==2.10.0
pymdown-extensions==9.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==0.19.1
python-multipart==0.0.5
pytz==2021.3
pywin32==302
PyYAML==6.0
pyyaml-env-tag==0.1
pyzmq==22.3.0
regex==2021.11.10
requests==2.26.0
rlp==2.0.1
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.16.0
stringcase==1.2.0
thirdweb-contract-wrappers==2.0.3
thirdweb-sdk==0.4.0
thirdweb-web3==5.24.8
tomli==1.2.2
toolz==0.11.2
tornado==6.1
traitlets==5.1.1
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typing-extensions==3.10.0.2
typing-inspect==0.7.1
urllib3==1.26.7
uvicorn==0.15.0
varint==1.0.2
watchdog==2.1.6
watchgod==0.7
wcwidth==0.2.5
web3==5.24.0
websockets==9.1
Werkzeug==2.0.2
wincertstore==0.2
wrapt==1.13.3
yarl==1.7.2
zipp==3.6.0
zope.interface==5.4.0
